<%- include("partials/header.ejs") %>

<div>
  <div class="products-head main-header">
    <h2>Products</h2>
  </div>
  <div class="products-filter">
    <a href="/add-product"><button class="add-btn">Add Product</button></a>
    <a href="/add-category"><button class="add-btn">Add Category</button></a>
  </div>
  <div class="products-container">
     <% if (locals.products) { %>
      <% products.forEach(product => { %>
        <div class="product">
          <div class="product-details">
            <h6><span class="bold">ID:</span> <%= product.id %></h6>
            <h6><span class="bold">Name:</span> <%= product.name %></h6>
            <h6><span class="bold">Category:</span> <%= product.category %></h6>
            <h6><span class="bold">Price:</span> <%= product.price %></h6>
            <h6><span class="bold">Stock:</span> <%= product.stock %></h6>
            <h6><span class="bold">Description:</span> <%= product.description %></h6>
          </div>
          <div class="product-buttons">
            <button class="add-btn special-btn">Edit</button>
            <form action="/delete-product" method="post">
              <input type="text" name="id" value="<%= product.id %>" hidden>
              <button class="add-btn special-btn" type="submit">Delete</button>
            </form>
          </div>
        </div>
      <% }); %>
     <% } else { %>
        <h4 class="warning main-header">No products found</h4>
     <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>